*

!pyproject.toml
!README.md
!LICENSE

!sftpwarden
!sftpwarden/**

!docker
!docker/runtime
!docker/runtime/**
!docker/watcher
!docker/watcher/**

**/__pycache__
**/*.py[cod]
**/*.pyo
**/*.pyd
**/.DS_Store
