.DS_Store
.pytest_cache/
.ruff_cache/
.mypy_cache/
.nox/
.hypothesis/
.pyre/
.cache/
.coverage
coverage.xml
htmlcov/
dist/
build/
_build/
docs/_build/
*.egg-info/
pip-wheel-metadata/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
.env
.env.*
!.env.example
*.log
data/
state/
host_keys/
docker-compose.yml
!examples/**/docker-compose.yml
sftpwarden.yaml
!examples/**/sftpwarden.yaml
users.yaml
!examples/**/users.yaml
users.csv
!examples/**/users.csv
.tox/
version-release-plan.md
